<div class="billing-app">
    <ng-template #error>Loading failed...</ng-template>
    <ng-template #loading>Loading...</ng-template>
    <mfe-card *axLazyElement="'http://local.spectrum-poc.net:4203/shared-card.js'; loadingTemplate: loading; errorTemplate: error"></mfe-card>
    <h4>This is the <span style="color: darkred">MFE-POC-BILLING</span> app</h4>
    <p>Welcome to the billing page!</p>
    <p *ngIf="(nameState$ | push) as n">Name: {{n.firstName}} {{n.lastName}}</p>
    <button (click)="clearName()">Clear Name</button>
    <hr/>
    <button (click)="getToken()">Get Token</button> <button (click)="getApi()">Make API Call</button> <button *ngIf="display" (click)="clearResult()">Clear Result</button>
    <div *ngIf="display">
        <h4>Result</h4>
        <p>{{display | json}}</p>
    </div>
</div> 
